body {
    background-color: black;
    color: white;
    font-weight: lighter;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.08rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.mainvisual {
    display: flex;

}

.mainvisual img {
    /* height: 530px; */
    width: calc(100%/3);

}

.big {
    width:150%;
}

.hello {
margin:100px 0px ;
font-size: 90px;

}

.title {
margin: 60px 10px;
font-weight: lighter;
font-size: 50px;
text-decoration: underline  solid   white;
text-underline-offset: 20%;


}

.day {
    font-size: 20px;
    font-weight: lighter;
}

.place {
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
}

.mini {
    font-size: 16px;
    font-weight: lighter;
}

.gallery {
    max-width: 1000px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}


.gallery img{
    width:50%;
    margin:25px;
    
} 

.fadein{
    opacity:0;
    transform:translate(0,80px);
    transition:all 800ms;
}

.fadein.scrollin{
    opacity:1;
    transform:translate(0,0);
}








.left { 
    display: flex;
    justify-content: flex-start;
    margin:20px;

}


.right {
    display: flex;
    justify-content: flex-end;
    margin:20px;

} 

/* 
.no1 {
    display:none ;
}

.no2 {
    display:none ;
}

.no3 {
    display:none ;
}
 */

.access {
    height: 1850px;
    margin-top: 250px;
    padding-top: 600px;

}

.accessback {
    background-image:url(img/bg.jpg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.accessbody {
    position: relative;
    z-index: 2;

}


.accessbody a {
    border:1px solid white;
    padding:20px 50px;
    margin-top:15px; 
    display: inline-block;
    
}

.accessbody ul {
    margin-bottom: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin:100px;
    height: 400px;
    align-items: center;
}

.contact a {
    border:1px solid gray;
    padding:30px;
    margin: 15px;
    width:440px;

}



footer {
    border-top: solid white;
    padding: 80px 40px;
    text-align: left;
    font-size: 13px;
    
}

.sns {
    margin-top: 30px;
}

footer a {
    margin: 0px 10px;
    
}

footer ul {
    margin:0px 30px;
}